h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

html {
  font-family: 'Roboto' sans-serif;
}
.container {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
}
.promo {
  min-height: 800px;
  padding: 22px 0 53px;
  background: url('../images/Main-bg.jpg') center center / cover no-repeat;
}
.logo__img {
  margin: 0 auto;
  width: 72px;
  height: 89px;
}
.logo__text {
  margin-top: 13px;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.title {
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
}
.promo__title {
  margin-top: 52px;
  font-size: 41px;
  color: #f9bf3b;
}
.subtitle {
  font-weight: 700;
  font-size: 80px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.promo h2 {
  margin-top: 12px;
}
.promo__descr {
  margin-top: 20px;
  font-weight: 400;
  font-size: 21px;
  line-height: 133%;
  text-align: center;
  color: #fff;
}
.promo__descr span {
  color: #f9bf3b;
  text-transform: uppercase;
}
.btn {
  margin: 75px auto 0;
  display: block;
  border-radius: 4px;
  min-width: 315px;
  min-height: 72px;
  background: linear-gradient(0deg, #ff4d00 0%, #feb05d 100%);
  font-weight: 500;
  font-size: 21px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-shadow: -1px -1px 0 0 rgba(0, 0, 0, 0.22);
}
.promo__text {
  margin-top: 75px;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.promo__img {
  margin: 8px auto 0;
  display: block;
}