h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  text-decoration: none;
}

img {
  display: block;
  max-inline-size: 100%;
}

html {
  font-family: 'Roboto' sans-serif;
}
.container {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
}
.promo {
  min-height: 800px;
  padding: 22px 0 53px;
  background: url('../images/Main-bg.jpg') center center / cover no-repeat;
}
.logo__img {
  margin: 0 auto;
  width: 72px;
  height: 89px;
}
.logo__text {
  margin-top: 13px;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.title {
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
}
.colored__title {
  margin-top: 52px;
  font-size: 41px;
  color: #f9bf3b;
}
.subtitle {
  font-weight: 700;
  font-size: 80px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.promo h2 {
  margin-top: 12px;
}
.promo__descr {
  margin-top: 20px;
  font-weight: 400;
  font-size: 21px;
  line-height: 133%;
  text-align: center;
  color: #fff;
}
.promo__descr span {
  color: #f9bf3b;
  text-transform: uppercase;
}
.btn {
  margin: 75px auto 0;
  display: block;
  border-radius: 4px;
  border: none;
  min-width: 315px;
  min-height: 72px;
  background: linear-gradient(0deg, #ff4d00 0%, #feb05d 100%);
  font-weight: 500;
  font-size: 21px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-shadow: -1px -1px 0 0 rgba(0, 0, 0, 0.22);
}
.promo__text {
  margin-top: 75px;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.promo__img {
  margin: 8px auto 0;
  display: block;
}
.divider {
  margin: 0 auto;
  background-color: #F9BF3B;
  width: 217px;
  height: 4px;
}
.intensive {
  background-color: #EFEFEF;
  padding: 80px 0;
}
.intensive .divider {
  margin-top: 14px;
}
.intensive__title {
  font-weight: 500;
}
.intensive__descr {
  margin-top: 16px;
  font-weight: 500;
  font-size: 23px;
  text-align: center;
  color: #4a4a4a;
}
.wrapper {
  display: flex;
  justify-content: center;
}
.intensive__wrapper {
  margin-top: 42px;
  gap: 48px;
}
.intensive__item {
  width: 360px;
}
.intensive__img {
  margin: 0 auto;
  width: 342px;
  height: 201px;
  object-fit: cover;
}
.icon__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 131%;
  text-align: center;
}
.intensive__text {
  margin-top: 15px;
  color: #4a4a4a;
}
.why {
  min-height: 564px;
  background-color: #000000;
}
.why__img {
  position: absolute;
  top: 191px;
  left: -83px;
  z-index: 1;
  width: 615px;
  height: 351px;
  object-fit: cover;
}
.why__descr {
  padding: 100px 0 141px;
  margin: 0 0 0 auto;
  width: 733px;
  position: relative;
  z-index: 2;
}
.why .colored__title {
  font-weight: 700;
  text-align: right;
  margin-top: 0px;
  font-size: 30px;
}
.why__text {
  margin-top: 16px;
  font-weight: 300;
  font-size: 16px;
  text-align: right;
  color: #fff;
}
.why__text.bold {
  font-weight: 500;
}
.training {
  padding: 80px 0 102px;
  background: url('../images/oppotunities-bg.jpg') center center / cover no-repeat;
}
.title__training {
  font-weight: 400;
  color: #efefef;
}
.training .divider {
  margin-top: 16px;
}
.training__wrapper {
  margin-top: 40px;
}
.training__item {
  width: 225px;

}
.training__img {
  margin: 0 auto;
  width: 118px;
  height: 118px;
  background-color: #f9bf3b;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.training__img img {
  width: 60px;
  height: 60px;
  object-fit: cover;
} 
.training__descr {
  margin-top: 18px;
  color: #efefef;
}
.gift {
  padding: 68px 0 80px;
  background-color: #efefef;
}
.gift__img {
  margin: 0 auto;
}
.gift__descr {
  margin-top: 80px;
  font-weight: 500;
  font-size: 30px;
  line-height: 150%;
  text-align: center;
  color: #252525;
}
.gift .btn {
  margin-top: 60px;
}
.webinar {
  padding: 62px 0 50px;
  background-color: #0f0b0b;
}
.webinar__img {
  margin: 0 auto;
  /* width: 500px; */
  /* height: 250px; */
  object-fit: cover;
}
.webinar__title {
  margin-top: 40px;
  font-weight: 500;
  font-size: 30px;
  color: #fff;
}
.webinar .colored__title {
  font-weight: 700;
  margin-top: 20px;
}
.webinar__text {
  margin-top: 20px;
  font-weight: 500;
  font-size: 23px;
  text-align: center;
  color: #efefef;
}
.footer {
  padding: 58px 0;
  background-color: #1a1a1a;

}
.footer__top {
  display: flex;
  justify-content: center;
}
.footer a, span {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  text-decoration-skip-ink: none;
  text-align: center;
  color: #888;
}
.footer__top a {
  text-decoration: underline;
}
.vertical-divider {
  margin: 5px 10px 0;
  height: 16px;
  width: 1px;
  background-color: #888;
}
.footer__bottom {
  text-align: center;
}